h1 {
  Font-Family: 'Unica One', Cursive;
  font-size: 3.5rem;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}


.image {
  padding: 0px;
}

#spafford {
  max-width: 587px
}

.image img {
  display:block;
  margin:auto;
  margin-top: 10px;
  padding: 0px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row .container {
	text-align: center;
	color: white;
	padding: 0px;
}

.row .container a {
	color: white;
}

.row {
	margin: 0px;
}

.top-paragraph {
  margin-top: 15px;
  margin-bottom: 0px;
}

.bio p {
  /* margin: 0px; */
  padding: 10px;
  Font-Family: 'Fira Sans', Sans-Serif;
  /* font-size: 14pt; */
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.links a {
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.social i{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (max-width: 414px) {
  .image img {
    display:block;
    margin:auto;
    padding: 10px;
    max-width: 100%;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  }

  .top-paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bio p {
    /* margin: 0px; */
    padding: 20px;
  }
}
