body {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #efefef;
  background-image: url('../images/wood-dark.jpg');
  
}

.navbar-brand {
	padding: 0px;
}

/*.navbar-brand img {
	padding-top: 3px;
}*/

.navbar-nav li {
    /*display: inline-block;*/
    /*float: none;*/
    font-family: 'Electrolize', sans-serif;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
  background:transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

hr {
	border-color: white;
}